<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="theme.css">
    <title>Основы Vue</title>
</head>
<body>

    <div class="contaienr" id="app">
        <div class="card">
            <h1>{{ title }}</h1>
            <div class="form-control">
                <input type="text"
                :placeholder='placeholderString'
                :value='inputValue'
                @input='inputChangeHandler'
                @keypress.enter="addNewNote"
                />
            </div>
            <button class="btn" v-on:click="addNewNote">Добавить</button>
                <hr />
                <ul class="list" v-if="notes.length !== 0">
                    <li class="list-item" v-for="(note, idx) in notes">
                      ({{ idx + 1 }}){{ toUpperCase(note) }}
                      <button class="btn danger" @click="deleteNote(idx)">удалить</button>
                    </li>
                    <hr/>
                    <li>
                       <strong>Общее колличество: {{ notes.length }}</strong>
                    </li>
                </ul>
                <div v-else>Заметок пока нет. Добавьте новые.</div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
</body>
</html>